---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Socialpill from "../components/Socialpill.astro";
import GitHub from "../components/icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Filebarcode from "../components/icons/Filebarcode.astro";
import Proyects from "../components/Proyects.astro";
import Aboutme from "../components/Aboutme.astro";
---

<Layout title="Porfolio de Emiliano | Desarrollador y Programdor web."
	description="Desarrollador web, especializado en crear aplicaciones web únicas "
	>
	<main class="px-4">
		<Container class="py-44 pb-32">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Emiliano 
				<a 
					href="https://www.linkedin.com/in/emiliano-cabral-005100200/" 
					target="_blank" 
					rel="noopener" 
					class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"> <span>+1 año de experiencia</span>. 
				<span class="text-yellow-200/90">Desarrollador web</span>. 
				<span class="text-pink-200/90">De Buenos aires, Argentina</span>. 
				<span class="opacity-75">Especializado en crear aplicaciones web únicas </span> 
			</h2>
				<nav class="flex gap-x-4 mt-8">
					<Socialpill href="https://www.linkedin.com/in/emiliano-cabral-005100200/">
						<Linkedin class="w-6 h-6" />
						LinkedIn
					</Socialpill>
					<Socialpill href="https://github.com/EmilianoCabral">
						<GitHub class="w-6 h-6" />
						GitHub
					</Socialpill>
				</nav>
		</Container>

		<Container id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="w-7 h-7" />
				Experiencia laboral
			</h2>
			<Experience />
		</Container>
		<Container id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Filebarcode class="w-7 h-7" />
				Proyectos
			</h2>
			<Proyects />
		</Container>
		<Container id="sobre-mi">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Filebarcode class="w-7 h-7" />
				Sobre mí
			</h2>
			<Aboutme />
		</Container>
	</main>
</Layout>

