---
import ProfileChek from "../components/icons/profileChek.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Filebarcode from "../components/icons/Filebarcode.astro";
import Proyects from "../components/Proyects.astro";
import Aboutme from "../components/Aboutme.astro";
import TitleSection from "../components/TitleSection.astro";
import Hero from "../components/Hero.astro";
import Certificados from "../components/Certificados.astro";
import Stackoverflow from "../components/icons/Stackoverflow.astro";
---

<Layout
  title="Porfolio de Emiliano | Desarrollador y Programdor web."
  description="Desarrollador web, especializado en crear aplicaciones web únicas "
>
  <main class="px-4">
    <Container class="py-16 md:py-36">
      <Hero />
    </Container>

    <div class="space-y-24">
      <Container id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Work experience
        </TitleSection>
        <Experience />
      </Container>

      <Container id="proyectos">
        <TitleSection>
          <Filebarcode class="size-7" />
          Projects
        </TitleSection>
        <Proyects />
      </Container>

      <Container>
        <TitleSection>
          Certificados
        </TitleSection>
		<Certificados />
      </Container>

      <Container id="sobre-mi">
        <TitleSection>
          <ProfileChek class="size-8" />
          About me
        </TitleSection>
        <Aboutme />
      </Container>
    </div>
  </main>
</Layout>
