---
import Experienceitem from "./Experienceitem.astro"

const EXPERIENCE = [
    {
        date:"Present...",
        title:"E-commerce webside",
        description:"The project consists of the development of a website e-commerce dedicated to the sale of products technology.",
        link:''
    },
    {
        date:"Nobember 2023",
        title:"Shopping cart",
        description:"My final project in the JavaScript course at Coderhouse was a shopping cart. Implemented JSON to handle product data and localStorage for cart persistence between sessions. Dynamically modified the DOM to update the interface in real time with user interactions.",
        link:''
    },
    {
        date:"August 2023",
        title:"games information page in HTML and CSS(SASS)",
        description:"Responsive design was implemented, as well as mobile first design with SEO and good practices in web design.",
        link:''
    },
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experiencie) => (
            <li class="">
                <Experienceitem {...experiencie} />
            </li>
        ))
    }
</ol>
