---
import Experienceitem from "./Experienceitem.astro"

const EXPERIENCE = [
    {
        date:"Presente...",
        title:"E-commerce webside",
        description:"Este proyecto se centra en desarrollar la interfaz de usuario de un sitio web de comercio electrónico especializado en la venta de productos tecnológicos. El front-end está implementado con React, aprovechando sus capacidades para ofrecer una experiencia de usuario dinámica y ágil. ",
        link:''
    },
    {
        date:"Nobiembre 2023",
        title:"Shopping cart",
        description:"En mi proyecto final del curso de JavaScript en Coderhouse, desarrollé un carrito de compras. Utilicé JSON para gestionar los datos de los productos y localStorage para mantener la persistencia del carrito entre sesiones. Además, modifiqué dinámicamente el DOM para actualizar la interfaz en tiempo real según las interacciones del usuario.",
        link:''
    },
    {
        date:"Agosto 2023",
        title:"games information page in HTML and CSS(SASS)",
        description:"En el proyecto final del curso de Desarrollo Web en Coderhouse, implementé un diseño responsive y una estrategia mobile first, junto con técnicas de SEO y buenas prácticas en diseño web.",
        link:''
    },
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experiencie) => (
            <li class="">
                <Experienceitem {...experiencie} />
            </li>
        ))
    }
</ol>
