---
import Experienceitem from "./Experienceitem.astro"

const EXPERIENCE = [
    {
        date:"Present...",
        title:"ChatLive: WebSockets Chat App",
        description:
        "This real-time chat app uses WebSockets for instant communication between clients. I plan to integrate features like private rooms, starred messages, and MongoDB storage.",
        link:'link'
    },
    {
        date:"November 2024",
        title:"REST API with Node.js and TypeScript",
        description:
        "Developed a robust authentication system and a REST API for user management, using Node.js and TypeScript. The project included: -Implementation of secure authentication with JWT tokens and handling of encrypted passwords, -Use of best practices in software architecture, error handling and validations, -Integration with postgreSQL for data persistence, ensuring optimal performance and efficient queries.",
        link:''
    },
    {
        date:"October 2024",
        title:"Landing page",
        description:"Modern and responsive landing page developed with Astro and styled with TailwindCSS, this technology allowed me to improve the loading speed thanks to the static content delivered by Astro, with an optimized performance of 99%, with a design adapted to provide a fluid experience on mobile devices, tablets and desktop computers.",
        link:''
    },
]
---
<ol class="relative mt-16">
    {
        EXPERIENCE.map((experiencie) => (
            <li class="">
                <Experienceitem {...experiencie} />
            </li>
        ))
    }
</ol>
