---
const currentYear = new Date().getFullYear()
---

<footer class="opacity-80 m-4 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 ">
    <div class=" w-full max-w-screen-xl mx-auto py-4">
        <span class="flex justify-center text-[#D1BB9E]">© {currentYear} 
            <a class="hover:underline">Emiliano Cabral™ </a>.  gracias midudev 
        </span>
    </div>
</footer>
