<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="rounded-full size-12" 
    src="https://avatars.githubusercontent.com/u/145997720?s=400&u=50ae0e8f9b2f9955792464ef636fe4f39f1bc012&v=4" 
    alt="Foto de Emiliano">
    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#">Inicio</a>
        <a href="#">Sobre mi</a>
        <a href="#">Proyectos</a>
        <a href="#">Experiencia</a>
        <a href="#">Contacto</a>
    </nav>
</header>