---
const personalImageAlt = "Emiliano Cabral"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/Linkedin.astro"
import MailIcon from "../components/icons/Email.astro"
import Socialpill from "./Socialpill.astro"
import GitHub from "./icons/GitHub.astro"
import Stackoverflow from "./icons/Stackoverflow.astro"
---

<div class="max-w-screen-md">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/Foto-perfil.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/emiliano-cabral-005100200/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  Hey, Soy Emiliano
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-[#a48d70] [&>strong]:text-[#a48d70] [&>strong]:font-semibold dark:text-gray-300"
  >
  +1 Año de experiencia 
  <strong>Desarrollador web</strong> 
  de Buenos Aires, Argentina. Utilizando tecnologias como 
  <strong>React, JavaScript, HTML5 y CSS3</strong>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <Socialpill href="mailto:emicabral95@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <Socialpill href="https://www.linkedin.com/in/emiliano-cabral-005100200/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <Socialpill href="https://github.com/EmilianoCabral">
      <GitHub class="size-4"/>
      GitHub
    </Socialpill>
    <Socialpill href="https://stackoverflow.com/users/26706407/emilianocabral">
      <Stackoverflow class="size-7"/>
      Stackoverflow
    </Socialpill>
  </nav>
</div>